@{
    Layout = "_panel";
}

    <p class="text-lg">محصولات مورد علاقه من:</p>
    <div class="mt-4 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 xl:grid-cols-4 gap-3 xl:gap-8 child:cursor-pointer child:overflow-hidden child:rounded-lg child:bg-white child:dark:bg-zinc-700 child:shadow  child:relative">
        <!-- PRODUCT ITEM -->
        <div class="group">
            <!-- PRODUCT IMGAE -->
            <img src="~/home/public/Images/products/p1.png" alt="product-1"
                 class="group-hover:scale-105 duration-300 w-32 h-32 lg:w-48 lg:h-48 mx-auto mb-3" />
            <!-- PRODUCT MAIN -->
            <div class="px-2 lg:px-4 mb-3">
                <a href="product-details.html"
                   class="line-clamp-2 font-DanaMedium mb-2 text-sm lg:text-base">
                    قهوه ترک گرمی مقدار 200 گرم رنگ بنفش خط دوم طولانی
                </a>
                <div class="flex items-center gap-x-1 lg:gap-x-3">
                    <p class="font-DanaDemiBold text-green-600 dark:text-green-500">
                        200,000
                        <span class="font-Dana text-sm">تومان</span>
                    </p>

                </div>
            </div>
            <!-- PRODUCT FOOTER -->
            <div class="flex items-center justify-between px-2 lg:px-4 mb-3">
                <div class="flex items-center gap-x-2 child:transition-all child:duration-300">
                    <span class="rounded-full p-2 dark:bg-zinc-800 dark:hover:bg-green-500 bg-gray-100 hover:bg-green-600 hover:text-white">
                        <svg class="w-4 h-4">
                            <use href="#shopping-cart"></use>
                        </svg>
                    </span>
                    <span class="hover:text-green-600">
                        <svg class="w-4 h-4">
                            <use href="#heart"></use>
                        </svg>
                    </span>
                </div>
                <div class="flex items-center">
                    <svg class="w-4 h-4 text-gray-300">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                </div>
            </div>
        </div>
        <!-- PRODUCT ITEM -->
        <div class="group">

            <!-- PRODUCT IMGAE -->
            <img src="~/home/public/Images/products/p2.png" alt="product-1"
                 class="group-hover:scale-105 duration-300 w-32 h-32 lg:w-48 lg:h-48 mx-auto mb-3" />
            <!-- PRODUCT MAIN -->
            <div class="px-2 lg:px-4 mb-3">
                <a href="product-details.html"
                   class="line-clamp-2 font-DanaMedium mb-2 text-sm lg:text-base">
                    قهوه ترک گرمی مقدار 200 گرم رنگ بنفش خط دوم طولانی
                </a>
                <div class="flex items-center gap-x-1 lg:gap-x-3">
                    <p class="font-DanaDemiBold text-green-600 dark:text-green-500">
                        200,000
                        <span class="font-Dana text-sm">تومان</span>
                    </p>
                </div>
            </div>
            <!-- PRODUCT FOOTER -->
            <div class="flex items-center justify-between px-2 lg:px-4 mb-3">
                <div class="flex items-center gap-x-2 child:transition-all child:duration-300">
                    <span class="rounded-full p-2 dark:bg-zinc-800 dark:hover:bg-green-500 bg-gray-100 hover:bg-green-600 hover:text-white">
                        <svg class="w-4 h-4">
                            <use href="#shopping-cart"></use>
                        </svg>
                    </span>
                    <span class="hover:text-green-600">
                        <svg class="w-4 h-4">
                            <use href="#heart"></use>
                        </svg>
                    </span>
                </div>
                <div class="flex items-center">
                    <svg class="w-4 h-4 text-gray-300">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                </div>
            </div>
        </div>
        <!-- PRODUCT ITEM -->
        <div class="group">
            <!-- PRODUCT IMGAE -->
            <img src="~/home/public/Images/products/p3.png" alt="product-1"
                 class="group-hover:scale-105 duration-300 w-32 h-32 lg:w-48 lg:h-48 mx-auto mb-3" />
            <!-- PRODUCT MAIN -->
            <div class="px-2 lg:px-4 mb-3">
                <a href="product-details.html"
                   class="line-clamp-2 font-DanaMedium mb-2 text-sm lg:text-base">
                    قهوه ترک گرمی مقدار 200 گرم رنگ بنفش خط دوم طولانی
                </a>
                <div class="flex items-center gap-x-1 lg:gap-x-3">
                    <p class="font-DanaDemiBold text-green-600 dark:text-green-500">
                        200,000
                        <span class="font-Dana text-sm">تومان</span>
                    </p>
                </div>
            </div>
            <!-- PRODUCT FOOTER -->
            <div class="flex items-center justify-between px-2 lg:px-4 mb-3">
                <div class="flex items-center gap-x-2 child:transition-all child:duration-300">
                    <span class="rounded-full p-2 dark:bg-zinc-800 dark:hover:bg-green-500 bg-gray-100 hover:bg-green-600 hover:text-white">
                        <svg class="w-4 h-4">
                            <use href="#shopping-cart"></use>
                        </svg>
                    </span>
                    <span class="hover:text-green-600">
                        <svg class="w-4 h-4">
                            <use href="#heart"></use>
                        </svg>
                    </span>
                </div>
                <div class="flex items-center">
                    <svg class="w-4 h-4 text-gray-300">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                </div>
            </div>
        </div>
        <!-- PRODUCT ITEM -->
        <div class="group">
            <!-- OFF BADGE -->
            <span class="absolute top-5 right-5 flex items-center justify-center w-8 h-8 text-xs bg-green-500  rounded-full text-white z-20">20%</span>

            <!-- PRODUCT IMGAE -->
            <img src="~/home/public/Images/products/p4.png" alt="product-1"
                 class="group-hover:scale-105 duration-300 w-32 h-32 lg:w-48 lg:h-48 mx-auto mb-3" />
            <!-- PRODUCT MAIN -->
            <div class="px-2 lg:px-4 mb-3">
                <a href="product-details.html"
                   class="line-clamp-2 font-DanaMedium mb-2 text-sm lg:text-base">
                    قهوه ترک گرمی مقدار 200 گرم رنگ بنفش خط دوم طولانی
                </a>
                <div class="flex items-center gap-x-1 lg:gap-x-3">
                    <p class="font-DanaDemiBold text-green-600 dark:text-green-500">
                        200,000
                        <span class="font-Dana text-sm">تومان</span>
                    </p>
                    <del class="font-Dana text-xs lg:text-sm text-rose-300 hidden lg:inline">
                        230,000
                        <span class="">تومان</span>
                    </del>
                </div>
            </div>
            <!-- PRODUCT FOOTER -->
            <div class="flex items-center justify-between px-2 lg:px-4 mb-3">
                <div class="flex items-center gap-x-2 child:transition-all child:duration-300">
                    <span class="rounded-full p-2 dark:bg-zinc-800 dark:hover:bg-green-500 bg-gray-100 hover:bg-green-600 hover:text-white">
                        <svg class="w-4 h-4">
                            <use href="#shopping-cart"></use>
                        </svg>
                    </span>
                    <span class="hover:text-green-600">
                        <svg class="w-4 h-4">
                            <use href="#heart"></use>
                        </svg>
                    </span>
                </div>
                <div class="flex items-center">
                    <svg class="w-4 h-4 text-gray-300">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                    <svg class="w-4 h-4 text-yellow-400">
                        <use href="#star"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGINATION -->
    <div class="mt-10 w-full flex items-center justify-center">
        <ul class="flex items-center gap-x-3 child:flex child:items-center child:justify-center child:w-8 child:h-8 child:cursor-pointer child:shadow child:rounded-lg child:transition-all child:duration-300">
            <li class="bg-white dark:bg-zinc-700 hover:bg-green-500 hover:text-white">
                <svg class="w-5 h-5 rotate-180">
                    <use href="#chevron-left"></use>
                </svg>
            </li>
            <li class="text-white bg-green-500">
                <a href="#">
                    1
                </a>
            </li>
            <li class="bg-white dark:bg-zinc-700 hover:bg-green-500 hover:text-white">
                <a href="#">
                    2
                </a>
            </li>
            <li class="bg-white dark:bg-zinc-700 hover:bg-green-500 hover:text-white">
                <a href="#">
                    ...
                </a>
            </li>
            <li class="bg-white dark:bg-zinc-700 hover:bg-green-500 hover:text-white">
                <svg class="w-5 h-5">
                    <use href="#chevron-left"></use>
                </svg>
            </li>
        </ul>
    </div>
